@import "tailwindcss";
@import "uniwind";

@theme {
  --breakpoint-xs: 360px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1920px;

  --font-sans: "Inter-Regular";
  --font-sans-medium: "Inter-Medium";
  --font-sans-semibold: "Inter-SemiBold";
  --font-sans-bold: "Inter-SemiBold";
  --font-sans-extrabold: "Inter-SemiBold";
  --font-inter: "Inter-Regular";
  --font-inter-medium: "Inter-Medium";
  --font-inter-semibold: "Inter-SemiBold";
  --font-inter-bold: "Inter-SemiBold";

  --font-cormorant: "CormorantGaramond-Regular";
  --font-cormorant-medium: "CormorantGaramond-Medium";
  --font-cormorant-semibold: "CormorantGaramond-SemiBold";
  --font-serif: "CormorantGaramond-SemiBold";

  --font-poppins: "Poppins-Regular";
  --font-poppins-medium: "Poppins-Medium";

  --font-accent: "Afacad-Regular";
}

:root {
  --font-display:
    Spline Sans, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
  --font-rounded:
    "SF Pro Rounded", "Hiragino Maru Gothic ProN", Meiryo, "MS PGothic",
    sans-serif;
}

@layer theme {
  :root {
    @variant light {
      --color-primary-01: #ebf2ee;
      --color-primary-02: #d0dfd7;
      --color-primary-03: #abc6b7;
      --color-primary-04: #84ab95;
      --color-primary-05: #5e9275;
      --color-primary-06: #3b7a57;
      --color-primary-07: #32684a;
      --color-primary-08: #2a573e;
      --color-primary-09: #224632;
      --color-primary-10: #1b3727;
      --color-primary-11: #0a150f;

      --color-secondary-01: #112122;
      --color-secondary-02: #224344;
      --color-secondary-03: #305d5f;
      --color-secondary-04: #3a7173;
      --color-secondary-05: #448588;
      --color-secondary-06: #52a0a3;
      --color-secondary-07: #71b5b7;
      --color-secondary-08: #88c1c3;
      --color-secondary-09: #99cacc;
      --color-secondary-10: #aad3d4;
      --color-secondary-11: #c2dfe0;
      --color-secondary-12: #d6eaea;
      --color-secondary-13: #e4f1f1;
      --color-secondary-14: #f8fcfc;

      --color-neutral-01: #191b1a;
      --color-neutral-02: #313533;
      --color-neutral-03: #49504d;
      --color-neutral-04: #5c6662;
      --color-neutral-05: #6d7974;
      --color-neutral-06: #86928d;
      --color-neutral-07: #99a39f;
      --color-neutral-08: #afb6b3;
      --color-neutral-09: #c2c7c5;
      --color-neutral-10: #d7dad9;
      --color-neutral-11: #f2f3f2;
      --color-neutral-12: #ffffff;

      --color-success-01: #28806f;
      --color-success-02: #0fb784;
      --color-success-03: #9ee1d4;
      --color-success-04: #dcf5f0;

      --color-warning-01: #443708;
      --color-warning-02: #f1a10a;
      --color-warning-03: #fcda83;
      --color-warning-04: #ffefc9;

      --color-error-01: #841515;
      --color-error-02: #dc2626;
      --color-error-03: #ea8080;
      --color-error-04: #f8d8d8;

      --color-info-01: #2880e5;
      --color-info-02: #5ba3f5;
      --color-info-03: #8fc4ff;
      --color-info-04: #ddedff;

      --color-blue: #5ba3f5;
      --color-white: #ffffff;
      --color-black: #000000;
      --color-brown: #49504d;
      --color-cream: #f8fcfc;

      --color-primary: #3b7a57;
      --color-primary-pressed: #32684a;
      --color-primary-soft: #d0dfd7;
      --color-primary-transparent: #3b7a57a3;
      --color-login-button: #3b7a57;

      --color-secondary: #52a0a3;
      --color-secondary-soft: #e4f1f1;

      --color-background: #f8fcfc;
      --color-surface: #ffffff;
      --color-card: #ffffff;
      --color-card-background: #ffffff;
      --color-background-element: #ffffff;
      --color-background-selected: #d0dfd7;
      --color-input-background: #ffffff;
      --color-warm-background: #f8fcfc;
      --color-on-primary: #ffffff;
      --color-on-error: #ffffff;

      --color-text: #313533;
      --color-description: #5c6662;
      --color-text-heading: #313533;
      --color-text-primary: #313533;
      --color-text-strong: #191b1a;
      --color-text-default: #49504d;
      --color-text-secondary: #49504d;
      --color-icon: #49504d;
      --color-label: #49504d;
      --color-placeholder: #afb6b3;
      --color-disabled-text: #afb6b3;

      --color-border: #d7dad9;
      --color-border-medium: #d7dad9;
      --color-input-border: #d7dad9;
      --color-input-focused-border: #3b7a57;
      --color-divider: #ebf2ee;
      --color-subtle-stroke: #ebf2ee;

      --color-error: #dc2626;
      --color-error-strong: #841515;
      --color-error-soft: #f8d8d8;
      --color-error-surface: #fef2f2;
      --color-error-overlay: #dc26263d;

      --color-success: #28806f;
      --color-success-strong: #28806f;
      --color-success-surface: #dcf5f0;

      --color-warning: #f1a10a;
      --color-warning-strong: #443708;
      --color-warning-surface: #ffefc9;

      --color-text-field-shadow: rgba(0, 0, 0, 0.08);
      --color-text-field-inner-shadow: rgba(0, 0, 0, 0.08);
      --color-text-field-inner-shadow-soft: rgba(0, 0, 0, 0.03);
      --color-text-field-inner-shadow-transparent: rgba(0, 0, 0, 0);
      --color-text-field-inner-highlight: rgba(255, 255, 255, 0.18);
      --color-text-field-inner-highlight-soft: rgba(255, 255, 255, 0.16);
      --color-text-field-inner-highlight-transparent: rgba(255, 255, 255, 0);

      --color-yellow: #f1a10a;
      --color-purple: #bc48f2;
      --color-otp-muted: #f2f3f2;
      --color-modal-background: #ffffff;
      --color-modal-text-secondary: #49504d;
    }
    @variant dark {
      --color-primary-01: #ebf2ee;
      --color-primary-02: #d0dfd7;
      --color-primary-03: #abc6b7;
      --color-primary-04: #84ab95;
      --color-primary-05: #5e9275;
      --color-primary-06: #3b7a57;
      --color-primary-07: #32684a;
      --color-primary-08: #2a573e;
      --color-primary-09: #224632;
      --color-primary-10: #1b3727;
      --color-primary-11: #0a150f;

      --color-secondary-01: #112122;
      --color-secondary-02: #224344;
      --color-secondary-03: #305d5f;
      --color-secondary-04: #3a7173;
      --color-secondary-05: #448588;
      --color-secondary-06: #52a0a3;
      --color-secondary-07: #71b5b7;
      --color-secondary-08: #88c1c3;
      --color-secondary-09: #99cacc;
      --color-secondary-10: #aad3d4;
      --color-secondary-11: #c2dfe0;
      --color-secondary-12: #d6eaea;
      --color-secondary-13: #e4f1f1;
      --color-secondary-14: #f8fcfc;

      --color-neutral-01: #191b1a;
      --color-neutral-02: #313533;
      --color-neutral-03: #49504d;
      --color-neutral-04: #5c6662;
      --color-neutral-05: #6d7974;
      --color-neutral-06: #86928d;
      --color-neutral-07: #99a39f;
      --color-neutral-08: #afb6b3;
      --color-neutral-09: #c2c7c5;
      --color-neutral-10: #d7dad9;
      --color-neutral-11: #f2f3f2;
      --color-neutral-12: #ffffff;

      --color-success-01: #28806f;
      --color-success-02: #0fb784;
      --color-success-03: #9ee1d4;
      --color-success-04: #dcf5f0;

      --color-warning-01: #443708;
      --color-warning-02: #f1a10a;
      --color-warning-03: #fcda83;
      --color-warning-04: #ffefc9;

      --color-error-01: #841515;
      --color-error-02: #dc2626;
      --color-error-03: #ea8080;
      --color-error-04: #f8d8d8;

      --color-info-01: #2880e5;
      --color-info-02: #5ba3f5;
      --color-info-03: #8fc4ff;
      --color-info-04: #ddedff;

      --color-blue: #5ba3f5;
      --color-white: #fffdfd;
      --color-black: #000000;
      --color-brown: #cb8036;
      --color-cream: #fff3d8;
      --color-primary: #e53935;
      --color-primary-pressed: #96132c;
      --color-primary-soft: #38171c;
      --color-primary-transparent: #c41e3aa3;
      --color-login-button: #f87b80;
      --color-secondary: #28806f;
      --color-secondary-soft: #40c4aa;
      --color-background: #181818;
      --color-surface: #1a1919;
      --color-card: #1a1919;
      --color-card-background: #1a1919;
      --color-background-element: #1a1919;
      --color-background-selected: #26382f;
      --color-input-background: #181818;
      --color-warm-background: #181818;
      --color-on-primary: #fffdfd;
      --color-on-error: #fffdfd;
      --color-text: #fffdfd;
      --color-text-heading: #fffdfd;
      --color-text-primary: #fffdfd;
      --color-text-strong: #f2f0f0;
      --color-text-default: #e6e4e4;
      --color-text-secondary: #d9d7d7;
      --color-icon: #cccaca;
      --color-label: #cccaca;
      --color-placeholder: #737272;
      --color-disabled-text: #737272;
      --color-border: #4d4c4c;
      --color-border-medium: #4d4c4c;
      --color-input-border: #404040;
      --color-input-focused-border: #737272;
      --color-divider: #404040;
      --color-subtle-stroke: #404040;
      --color-error: #96132c;
      --color-error-strong: #96132c;
      --color-error-soft: #df1c41;
      --color-error-surface: rgba(229, 57, 53, 0.2);
      --color-error-overlay: #c41e3a3d;
      --color-success: #40c4aa;
      --color-success-strong: #28806f;
      --color-success-surface: #ddf3ef;
      --color-warning: #ffbe4c;
      --color-warning-strong: #966422;
      --color-warning-surface: #ffefc9;
      --color-text-field-shadow: rgba(0, 0, 0, 0.24);
      --color-text-field-inner-shadow: rgba(0, 0, 0, 0.28);
      --color-text-field-inner-shadow-soft: rgba(0, 0, 0, 0.12);
      --color-text-field-inner-shadow-transparent: rgba(0, 0, 0, 0);
      --color-text-field-inner-highlight: rgba(255, 255, 255, 0.1);
      --color-text-field-inner-highlight-soft: rgba(255, 255, 255, 0.08);
      --color-text-field-inner-highlight-transparent: rgba(255, 255, 255, 0);
      --color-yellow: #f2a415;
      --color-purple: #bc48f2;
      --color-otp-muted: #2a2a2a;
      --color-modal-background: #181818;
      --color-modal-text-secondary: #999898;
    }
  }
}
